---
import MainLayout from "../layouts/MainLayout.astro";
import { Wrapper } from "../components/parent";
---

<MainLayout title="Coding with Jason on Qwik + Astro pref on pref with @Steve8708">
    <p>
        This was a follow along with "<a href="https://www.youtube.com/live/W-j2HH1GdjU?si=UFAoisVkBD61Hp5c">
                Below is from Coding with Jason on Qwik + Astro pref on pref with
        </a>
        
        <a href="https://twitter.com/Steve8708">@Steve8708</a>"
    </p>

	<Wrapper />

</MainLayout>