---
import MainLayout from "../layouts/MainLayout.astro";
---
	
<MainLayout title="Home">
	<ul>
		<li><a href="/simple-counter/">Simple Counter</a></li>
		<li><a href="/contex-shared-signal/">Shared Signal Between Islands/Components</a></li>
		<li><a href="/coding-with-jason-and-steve/">Coding with Jason on Qwik + Astro pref on pref with @Steve8708</a></li>
	</ul>
</MainLayout>