---
import MainLayout from "../layouts/MainLayout.astro";
import { Counter } from "../components/counter";
---

<MainLayout title="Simple Counter">
	<p>This is a simple counter no shared signal</p>
        
    <hr />

	<!--  no hydration directive! -->
	<Counter />
        
    <hr />

	<p>
		<strong>Source: </strong>
		<a href="https://qwik.dev/docs/integrations/astro/" target="_blank">
			https://qwik.dev/docs/integrations/astro/
		</a>
	</p>
</MainLayout>